<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="aboutus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="resources/aboutusfont.png" alt="About us font">
        <p>Welcome to the biggest challenge of your lives. Join the Church of Kanye <b>now</b> and follow your dreams, one good action at a time.</p>
    </header>

    <div class="buttons">

    <div class="link">
        <a href="https://www.youtube.com">Click here for our amazing video!</a>
    </div>

    <div class="back">
        <a href="main.html">Back to main page</a>
    </div>

    </div>

</body>
</html>