<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
        <h2 th:text="${userlist}"></h2>
        <img src="resources/kanye-welcome.png" alt="The Church of Kanye Welcome Screen">
        <br>
        <h3>Are you already a believer?</h3>
        <br>

        <div class="buttons">

                <a class="login" th:href="@{/main}">Log-in</a>

                <a class="signup" th:href="@{/signup}">Sign up</a>

                <a class="aboutus" th:href="@{/aboutus}">About us</a>
        </div>

</body>
</html>