<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main User</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">     
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body>

    <ul>
        <li><a href="#user">User Settings</a></li>
        <li><a href="#list">Road to Heaven</a></li> 
        <li><a class="button" href="#popup1">Current Challenge</a></li>
        <li><a href="submit.html">Submit Challenge</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li style="float:right"><a class="active" href="index.html">Log-out</a></li>
    </ul>

    <div class="container">
        <div class="row">
            
                <h2 class="progress-title">The Kanye-O-Meter of Good Actions</h2>
                
                <div class="progress orange">

                    <div class="progress-bar meter" style="width:20%; background:#fe3b3b;">

                        <div class="progress-value"><img src="resources/kanye-hell.png"/></div>
                        <div class="progress-percentage">90%</div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Ready for the daily Kanye challenge?</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                Help your parents in the kitchen! Your parents work hard to buy you food and make you meals - Kanye says, be more grateful! Peace out.
            </div>
        </div>
    </div>

</body>
</html>