<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main User</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">     
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>
<body>
    <style th:if="${user.meterPercent} &gt; 50">
        body {
            background-image: url('resources/roadtoheaven.jpg');
            background-size: 115%;
            background-repeat: no-repeat;
        }
    </style>

    <style th:unless="${user.meterPercent} &gt; 50">
        body {
            background-image: url('resources/roadtohell.jpg');
            background-size: 110%;
            background-repeat: no-repeat;
           }

        .container h2 {
            color: red;
        }

        .progress-percentage {
            color: red;
        }
    </style>


    <h2 th:text="${user.id}"></h2>

    <ul>
        <li><a th:href="@{/edit}">User Settings</a></li>
        <li><a th:href="@{/challenges}">Road to Heaven</a></li>
        <li><a class="button" href="#popup1">Current Challenge</a></li>
        <li><a th:href="@{/submit}">Submit Challenge</a></li>
        <li><a th:href="@{/aboutus}">About Us</a></li>
        <li style="float:right"><a class="active" th:href="@{/}">Log-out</a></li>
    </ul>

    <div class="container">
        <div class="row">

                <h2 class="progress-title">The Kanye-O-Meter of Good Actions</h2>
                
                <div class="progress orange">

                    <div class="progress-bar meter" th:style="|width:${user.meterPercent}%; background:#fe3b3b;|">

                        <div th:switch="${user.meterPercent}" class="progress-value">

                            <img th:case="40" src="resources/kanye-middle.png"/>
                            <img th:case="35" src="resources/kanye-middle.png"/>
                            <img th:case="50" src="resources/kanye-middle.png"/>
                            <img th:case="45" src="resources/kanye-middle.png"/>
                            <img th:case="55" src="resources/kanye-middle.png"/>
                            <img th:case="60" src="resources/kanye-middle.png"/>
                            <img th:case="65" src="resources/kanye-middle.png"/>

                            <img th:case="70" src="resources/kanye-heaven.png"/>
                            <img th:case="75" src="resources/kanye-heaven.png"/>
                            <img th:case="80" src="resources/kanye-heaven.png"/>
                            <img th:case="85" src="resources/kanye-heaven.png"/>
                            <img th:case="90" src="resources/kanye-heaven.png"/>
                            <img th:case="95" src="resources/kanye-heaven.png"/>
                            <img th:case="100" src="resources/kanye-heaven.png"/>

                            <img th:case="30" src="resources/kanye-hell.png"/>
                            <img th:case="25" src="resources/kanye-hell.png"/>
                            <img th:case="20" src="resources/kanye-hell.png"/>
                            <img th:case="15" src="resources/kanye-hell.png"/>
                            <img th:case="10" src="resources/kanye-hell.png"/>
                            <img th:case="5" src="resources/kanye-hell.png"/>
                            <img th:case="0" src="resources/kanye-hell.png"/>

                        </div>


                        <div class="progress-percentage" th:text="${user.meterPercent + '%'}"></div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">

            <h2>Ready for the daily Kanye challenge?</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">

                <p th:text="${actions.name}" ></p>
                <p th:text="${actions.description}" ></p>

            </div>
        </div>
    </div>

</body>
</html>