<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/ranking.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="resources/ranking.png" alt="Ranking font">
    </header>
    <div class="rankingtable">
        <table class="pure-table">
            <tr >
                <th>Username</th>
                <th>Total Points</th>
                <th>Ranking</th>
            </tr>
            <tr th:switch="${user.points}" th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.points}"></td>
                <td th:case="60000">Archangel of Kanye</td>

                <td th:case="20000">Angel of Kanye</td>

                <td th:case="9000">Mere Human</td>

                <td th:case="2000">Away from Kanye's sight</td>
            </tr>
        </table>        
    </div>
    <br>
    <div class="buttons">
            <a class="back" role="button" th:href="@{/main/{user.id}">Back to main page</a>
    </div>

</body>
</html>