<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <link rel="stylesheet" href="submit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img src="resources/aboutusfont.png" alt="Submit font">
    </header>

    <form action="savefile" method="post" enctype="multipart/form-data">  
        Select File: <input type="file" name="file"/>  
        <input type="submit" value="Upload File"/>  
        </form>  

</body>
</html>