body {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    background-image: url('resources/aboutus.jpg');
}

h3 {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    color: #fff;
  }

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.link {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 250px;
}

.link:hover {
    background-color: #F7D3C5;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.back {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 250px; 
}

.back:hover {
    background-color: #F7D3C5;
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a {
    text-decoration: none;
}

a:visited { 
    color: black;
}