body {
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}
    
li {
    border-right: 1px solid #bbb;
    float: left;  } 
    
li:last-child {
    border-right: none;  
}  

ul {
    list-style-type: none;
    margin: 0;    
    padding: 0;    
    overflow: hidden;    
    background-color: #333;
}  
    
li a {    
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;    
    text-decoration: none;
}

li a:hover { 
    background-color: darkcyan;
}

.progress-title{
    font-size: 25px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 30px;
    background: #dbdbdb;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
}

.progress-percentage {
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -25px;
    right: 10px;
    z-index: 2;

}

.progress.orange .progress-value{

    color: #fe3b3b;
}

@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

.meter { 
	height: 10px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(110, 110, 110, 0.3);
}

img {
    height: 150px;
    position: absolute;
    top: -35px;
}

h2 {
  padding-top: 8%;
  padding-bottom: 8%;
}

.overlay {
  margin: 8%;
  top: 0;
  bottom: 20;
  left: 0;
  right: 0;
  background: none;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: beige;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: black;
  padding-bottom: 10px;
  font-family: 'Abel', sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: darkcyan;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}