body {
    background-color: #8C8D8F;
    background-image: url('resources/kanye-signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

h2 {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    color: #fff;
}

img {
    margin-top: 2%;
    margin-bottom: 2%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }    
}

#test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}